p::first-letter{
  font-size: 2em;
  color: red;
}
p::first-line{
  color: orange;
  background-color: bisque;
}


p::selection{
  background-color: darkcyan;
  color: white;
  
}

p{
  cursor: pointer;
}

button{
  cursor: pointer;
}

