/*p::first-letter{
  font-size: 2em;
  color: red;
}
p::first-line{
  color: orange;
  background-color: bisque;
}


p::selection{
  background-color: darkcyan;
  color: white;
  
}

p{
  cursor: pointer;
}

button{
  cursor: pointer;
}*/

p::before, p::after{
  color: red;
  background-color: darkcyan;

}

p::before{
  content:'>>>>>>>>' ;

}

P::after{
  content:'<<<<<<<<' ;
}

ul{
  margin: 30px auto 20px;
  width: 80%;
  text-align: center;
}

li{
  background-color: cornflowerblue;
  position: relative;
}

li+li{
  margin-top: 20px;
}

li::before, li::after{
  position: absolute;
}

li::before{
 content: open-quote;
 right: calc(100% + 5px);
 top:-0.4em;
}

li::after{
  content: close-quote;
  left: calc(100% + 5px);
  bottom:-0.9em;
 }

